<a href="https://colab.research.google.com/github/SanketSalviNITK/IntroductionToPython/blob/main/pythonintro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#introduction to python
# print statements
print("Hello World")
print("Hello "+"World")
print('Hello ''World')

Hello World
Hello World
Hello World

In [ ]:
#example of dynamic typecasting
a=10
print(type(a))
b="Hello"
print(type(b))
c=2.15
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#example of typecasting/wrapper class
a=10.5
print(a)
print(type(a))
a=int(a)
print(a)
print(type(a))

10.5
<class 'float'>
10
<class 'int'>

In [ ]:
#print with variable
print("The number is",a, "And second string")
print("The number is "+str(a)+" And second string")

The number is 10 And second string
The number is 10 And second string

In [ ]:
#other print parameters
print("Hello",end=" ")
print("World")

print("Hello",end="@")
print("World")

Hello World
Hello@World

In [ ]:
#example to take input from users
a=input()
print(a)
print(type(a)) #default datatype is string

a=int(input()) #typecasted
print(a)
print(type(a))

a=int(input("Enter a number:")) #input and prompt in same line
print(a)
print(type(a))

20
20
<class 'str'>
20
20
<class 'int'>
Enter a number:20
20
<class 'int'>

In [ ]:
#selection statement
a=int(input("Enter a number:"))
if a==10:
  print("Awesome")
elif a==5:
  print("Great")
else:
  print("Good")

Enter a number:10
Awesome

In [ ]:
#loop control statements
#example of while loop
count=0
while count<5:
  print(count)
  count=count+1

0
1
2
3
4

In [ ]:
#example of for loop with range function
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
#example of for loop on string
s="Hello World"
for x in s:
  print(x)

H
e
l
l
o

W
o
r
l
d

In [ ]:
#example of for loop with list
l=["Apple","PineApple","CustardApple","WoodApple"]
for x in l:
  print(x)

Apple
PineApple
CustardApple
WoodApple

In [ ]:
#example of for loop control using break
for x in range(10):
  if x==5:
    break
  print(x)

0
1
2
3
4

In [ ]:
#example of for loop control using continue
for x in range(10):
  if x==5:
    continue
  print(x)

0
1
2
3
4
6
7
8
9

In [ ]:
#example of for loop control using pass
for x in range(10):
  if x==5:
    pass
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#various string class functions
s="Hello World"
print(s)

print(len(s))

l=s.lower() #converts to lowercase()
print(l)

u=s.upper() #converts to uppercase()
print(u)

'H'.isupper()

a='H'

print(a.isupper())
print(a.islower())

b='h'
print(b.isupper())
print(b.islower())

print(s.count('l'))

Hello World
11
hello world
HELLO WORLD
True
False
False
True
3

In [ ]:
#functions in python
def add(x,y):
  return x+y,x-y

def main():
  _,a=add(5,6)
  print(a)
  

main()

-1

In [ ]:
#range function use cases
for x in range(10): #one parameter-terminating condition, starts with 0 till < 10
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#range function use cases
for x in range(5,10): #two parameters, starts with 5 till < 10
  print(x)

5
6
7
8
9

In [ ]:
#range function use cases
for x in range(1,10,2): #three parameters, starts with 1 till < 10 and skip by 2
  print(x)

1
3
5
7
9

In [ ]:
#range function use cases
for x in range(10,0,-1): #three parameters, starts with 10 till > 0 and skip by -1
  print(x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#string slicing operations
s="Hello World"
print(s[:]) #print all charaters from start to end
print(s[6:]) #print all charaters from 6th index to end
print(s[:5]) #print all charaters from start to 5th index
print(s[3:8]) #print all charaters from 3rd index to 8th index
print(s[::-1]) #print all charaters from end to start
print(s[::-2]) #print all charaters from end to start skip by 2
print(s[4::-1]) #print all charaters from 4th index to start

Hello World
World
Hello
lo Wo
dlroW olleH
drWolH
olleH

In [ ]:
#Operations on lists in python
veggies=['Tomatoes','Spinach','Potatoes']
print(veggies)
print(type(veggies))
fruits=['Apple','Pineapple']
print(fruits)

veggies.insert(0,'Cauliflower')
print(veggies)

veggies.pop()
print(veggies)

veggies.reverse()
print(veggies)

veggies.append('Okra')
print(veggies)

veggies.sort()
print(veggies)

veggies=veggies+fruits
print(veggies)

['Tomatoes', 'Spinach', 'Potatoes']
<class 'list'>
['Apple', 'Pineapple']
['Cauliflower', 'Tomatoes', 'Spinach', 'Potatoes']
['Cauliflower', 'Tomatoes', 'Spinach']
['Spinach', 'Tomatoes', 'Cauliflower']
['Spinach', 'Tomatoes', 'Cauliflower', 'Okra']
['Cauliflower', 'Okra', 'Spinach', 'Tomatoes']
['Cauliflower', 'Okra', 'Spinach', 'Tomatoes', 'Apple', 'Pineapple']

In [ ]:
#operations on tuple in python
veggies=('Spinach','Cauliflower','Spinach')
print(veggies)
print(type(veggies))
print(veggies.index('Cauliflower'))

#operations on set in python
veggies=set(veggies)
print(veggies) #duplication not allowed
fruits=('Spinach','Okra')
fruits=set(fruits)
print(fruits)

veggies.intersection(fruits)
veggies.union(fruits)

fruits.difference(veggies)
veggies.difference(fruits)

('Spinach', 'Cauliflower', 'Spinach')
<class 'tuple'>
1
{'Spinach', 'Cauliflower'}
{'Spinach', 'Okra'}

{'Cauliflower'}

In [ ]:
#dictionaries in python
days={1:"Sunday",2:"Monday",3:"Tuesday"}
print(days)
print(type(days))
print(days[1])
print(days[3])
days.get(2)
days.items()
days.popitem()
print(days)

{1: 'Sunday', 2: 'Monday', 3: 'Tuesday'}
<class 'dict'>
Sunday
Tuesday
{1: 'Sunday', 2: 'Monday'}